# Region to deploy into when running locally.
# This is set by the Azure Pipeline for other environments.
export TF_VAR_location="westeurope"
export WORKSPACE="my-alias"

export TF_VAR_is_local=true # Will provision Azure ML service principal locally for you

# User(s) or Group(s) that will be added as contributor on the resource group created. Needs to the Object ID of the Azure Active Directory user or group.  
export TF_VAR_resource_group_contributors="[]" # Use format "[\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\"]"

# User(s) that will be made owner of the Azure Active Directory AD Applications and Enterprise Applications that are created. Does not support groups. Needs to the Object ID of the Azure Active Directory user
export TF_VAR_azuread_object_owners="[]" # Use format "[\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\"]"

# These values are default and you only need to include them if you want to override them
#export SYNAPSE_CUSTOM_PACKAGE_CONTAINER=""
#export SYNAPSE_CUSTOM_PACKAGE_CONTAINER_SAS=""
#export SYNAPSE_CUSTOM_PACKAGE_DIR=""

# Uncomment this if you want to avoid the "are you sure?" prompt when applying TF changes
# export SKIP_PLAN_CHECK=1

# Uncomment this if you are seeing Bad Request errors when running the tests, due to the synapse token bug. 
# Tests will run without checking the pipeline, and only polling for the output file instead.
# export IGNORE_TEST_PIPELINE_QUERY=true

# Uncomment this if you want to disable cleaning functional test data for debugging
# export DISABLE_TEST_CLEANUP=true

# Defines the pipeline that the functional tests will try to start
export PRIMARY_PIPELINE_NAME="e_IAD_synapse_pipe_main_data_load"
